[Unit]
Description=archwrt-ss.sh transparent proxy script
ConditionFileIsExecutable=/usr/bin/archwrt-ss.sh
ConditionFileNotEmpty=/etc/archwrt-ss/archwrt-ss.conf
Requires=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/archwrt-ss.sh start
ExecStop=/usr/bin/archwrt-ss.sh stop
ExecReload=/usr/bin/archwrt-ss.sh restart

[Install]
WantedBy=default.target
